* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100vh;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.sidebar {
    display: grid;
    grid-template-rows: 80px repeat(6, 40px) repeat(3, 40px);
    background-color: rgb(27, 150, 231);
    color: rgb(255, 255, 255);
}

#logo {
    display: flex;
    align-items: center;
    grid-row: 1;
    font-size: 2rem;
    font-weight: 600;
    padding: 20px 7%;
    gap: 15px;
}

.sidebar-links a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 13px 10%;
}

.sidebar-links img {
    height: 30px;
    margin-right: 25px;
}

.sidebar-main-tabs {
    display: grid;
    grid-row: 2 / 8;
    margin-top: 30px;
}

.sidebar-secondary-tabs {
    display: grid;
    grid-row: 8 / 11;
    margin-top: 50px;
}